.page-container{
    display: flex;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
}



.page-content-container{
    padding-left: 1px;
    
}

.sidebar {
     height: 100%;
     width: 15%;
     background-color: rgba(0, 0, 0, 0.644);
     border-style: double;
     border-color: rgba(88, 85, 82, 0.884);

}

.list-items {
    padding-top: 110px;
    
}
.list-item {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.5);
    padding:  25px 20px;
    font-family: 'Open Sans';
    cursor: pointer;
}

.list-item:hover {
    color: white;
    
}
.list-item.selected {
    color: orange;
}


.list-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2%;
    background-color: orange;
    opacity: 0;

    transform: scaleY(0);
    transition: transform 0.2s, opacity 0.2s;

}

.list-item:hover::before{
    opacity: 0.5;
    transform: scaleY(0.5) scaleX(1);
}

.list-item.selected::before{
    opacity: 1;
    transform: scaleY(1);
}

.list-item i.material-icons {
    margin-right: 12px;
}
p{
    color:white;
    margin-left: 1410px;
    padding-top:5px;
    font-size: 18px;
    
}

button{
    margin-left: 1490px;
    color: rgb(255, 255, 255);
      background-color:rgb(20, 20, 20);
      font-size: 18px;
      text-decoration: none;
    
      text-align: center;
    
      
     
      transition-duration: 0.4s;
      border:orange;
      border-style: double;
      cursor : pointer;
}
button:hover{
    background-color:orange; 
    color: rgb(255, 253, 251); 
    box-shadow: 0 10px 10px 0 rgba(255, 123, 0, 0.9),0 17px 50px 0 rgba(241, 241, 241, 0.19);
  } 

