th , td, tr  {
    /*border-collapse: collapse;*/
    width: 200px;
    padding: 20px;
    padding-right: 20px;
    /*table-layout: fixed;*/
    padding-right: 100px;
    text-align: center;
    
    color: rgb(255, 255, 255);
    height: 10px;
    
    
    

  }

  th, td {
    border-bottom: 1px solid rgb(212, 109, 41);
    width: 5%;
    font-size:14px;
  }
  th{
    height:80px;
  }

 

  tbody tr:hover {background-color: #f78c0198;}
 


  table{
    text-align-last: center;
    background-color: rgba(8, 7, 7, 0.712); 
    box-shadow: 1px 1px 41px #ff8d0c;
    width: 1400px;
    height: 300px;  
    top:10px;      
  }

  .my-custom-scrollbar {
    top:10px;
  position: relative;
  width: 1400px;
  height: 560px; 
  overflow-y: scroll;
  box-shadow: 1px 1px 41px #ff8d0c;
  margin-left: 100px;
    }
   


  .example-button-row button {
 
  color: rgb(255, 255, 255);
  background-color:rgb(20, 20, 20);
  font-size: 18px;
  text-decoration: none;
  margin: 50px;
  text-align: center;
  padding: 10px 24px;
  width: 200px;
  transition-duration: 0.4s;
  border:orange;
  border-style: double;
  cursor : pointer;
  
  
  left:550px;
  bottom: 1px;

  
  
  
  
 
}
.example-button-row button:hover{
    background-color:orange; /* Green */
    color: rgb(0, 0, 0); 
    box-shadow: 0 10px 10px 0 rgba(255, 123, 0, 0.9),0 17px 50px 0 rgba(241, 241, 241, 0.19);
    
}




.custom-select {
    position: relative;
    display: block;
    max-width: 400px;
    min-width: 180px;
    margin: 2;
    border: 1px solid rgb(250, 142, 0,0.8);
    background-color: rgb(0, 0, 0,0.75);
    z-index: 5;
  }
  .custom-select select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
    color: rgb(250, 135, 4,0.8);
  }
  .custom-select:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 38px;
    content: "v";
    text-align: center;
    color: rgb(243, 141, 9,0.7);
    font-size: 24px;
    border-left: 1px solid rgb(255, 141, 12,0.7);
    z-index: -1;
  }
  
  
  
     
  