.mat-typography{
    width:1200px;
    height:150px;
    

}
.alert{
    background-image: url('../.././assets/alert.png');
    background-repeat: no-repeat;
    background-size: contain ;
   
}

h2{
    font-size: 30px;
    text-decoration: underline;
    color: red;

}

p{
       
       color:white;
       font-size: 15px;
       font-family: 'Acme', sans-serif;
       line-height: 2em;
       text-transform: uppercase;
       word-spacing: 5px;
       letter-spacing: 3px;
       
       
}

button{
    color: rgb(255, 255, 255);
    background-color:rgb(20, 20, 20);
    font-size: 18px;
    text-decoration: none;
    margin: 20px;
    text-align: center;
    padding: 10px 24px;
    width: 200px;
    transition-duration: 0.4s;
    border:red;
    border-style: double;
    cursor : pointer;
    
    display: inline-block;
    
  
  }
button:hover{
  background-color:rgb(255, 0, 0); /* Green */
  color: rgb(255, 253, 251); 
  box-shadow: 0 10px 10px 0 rgba(255, 0, 0, 0.555),0 17px 50px 0 rgba(241, 241, 241, 0.19);
}  