<br><br><br><br>
        <h1>
            Tool for selecting audit cases based on a risk assessment</h1>
        <br><br>
        <p>The TCP (Tax & Customs Reform Project) helped develop a risk-based audit selection system.</p>
        <p>  The system was not fully adopted in part because audit staff felt that the criteria used did not select the taxpayers most at risk.</p>
        <p>The aim of this mandate is to develop a user interface around the system which will allow the selection criteria to be modified and its effectiveness to be monitored.</p>
        <a href="https://www.usaid.gov/"><img src="../.././assets/usaid-new-logo.jpg"></a>
       <div class="example-button-row btn-primary-spacing">
            </div>

  

<!-- The Modal 
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content 
  <form class="modal-content animate">
    <!--<div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>-->

    <!--<div class="container">
        <h2>Login</h2>
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>




<!--<div id="id02" class="modal1">
    <span onclick="document.getElementById('id02').style.display='none'" class="close1" title="Close Modal1"></span>
    <form class="modal-content1">
      <div class="container1">
        <h2>Sign Up</h2>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
  
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
  
        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
  
        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>
  
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
        <div class="clearfix">
          <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn1">Cancel</button>
          <button type="submit" class="signup">Sign Up</button>
        </div>
      </div>
    </form>
  </div>-->