input[type=text], input[type=password], input[type=email]  {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
    border: 3px solid orange;
    border-radius: 8px ;
  
    border-bottom: 2px solid orange;
    margin: 10px;
  
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
  }

  input:focus{ 
    border:3px solid rgb(255, 136, 0) ;
    background-color:rgba(250, 151, 3, 0.5);}
  
  button {
        background-color: #ff8901;
        color: rgb(10, 10, 10);
        padding: 14px 20px;
        margin: 17px 150px;
        border: none;
        cursor: pointer;
        width: 50%;
        display: block;
        border-radius: 8px ;
        
      }
      
      /* Add a hover effect for buttons */
button:hover {
        opacity: 0.8;
      }
label{
      
        color: white;
        display: inline-block;
        margin-left: 10px;
        
      }
  
  /* Extra styles for the cancel button */
  .cancelbtn1 {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn1, .signupbtn {
    float: left;
    width: 10%;
  }
  
  /* Add padding to container elements */
  .container1 {
    padding: 10px;
    left:100px;
  }
  
  /* The Modal (background) */
  .modal1 {
   
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(14, 13, 13); /* Fallback color */
    /*background-color: rgb(17, 17, 17); /* Black w/ opacity */
    padding-top: 100px;
   
    background-image: url('../.././assets/cc.jpg');
  }
  
  /* Modal Content/Box */
  .modal-content1 {
    background-color: #0000005d;
    /*margin: 45% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px ridge rgb(248, 170, 1);
    border-radius: 8px ;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 55%;
    margin-left: 40px;
    margin-top: -30px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px 0px rgba(255, 123, 0, 0.9),0px 5px 10px 0px rgba(245, 142, 8, 0.527);
  }
  .alert-danger ,.alert-warning{
    color: red;
  }  
  
  